@model IEnumerable<Domain.Models.Poll>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option1Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option2Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option3Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option1VotesCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option2VotesCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option3VotesCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option1Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option2Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option3Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option1VotesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option2VotesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option3VotesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a href="/Poll/Vote/@item.Id">Vote</a>
                    &nbsp
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
